.title {
  margin-bottom: 5px;

  & a {
    color: #3169B3;

    &:hover {
      color: #C00;
    }
  }
}

.pubdate {
  font-size: 0.9rem;

  display: block;

  margin-bottom: 10px;

  color: #757575;
}
