body {
  color: #3e3e3e;
}

html {
  overflow-y: initial;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 1.5em 1em;
}

:global .grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

:global .grid-inner {
  grid-column: 2 / 12;

  @media (max-width: 425px) {
    grid-column: 1 / 13;
  }
}

:global .blog {
  & .grid-inner {
    grid-column: 2 / 10;

    @media (max-width: 425px) {
      grid-column: 1 / 13;
    }
  }
}

:global .blog-post {
  & .grid-inner {
    grid-column: 1 / 12;

    @media (max-width: 425px) {
      grid-column: 1 / 13;
    }
  }
}
